<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Homepage</h1>
   
    <% for( let index = 0; index < endpoint.length; index++ ) { %>
            <h1><%= endpoint[index].firstname %> <%= endpoint[index].lastname %></h1>
            <i><%= endpoint[index].dob %></i>
    <% } %>

    <% endpoint.forEach((user) => { %>
        <h1><%= user.firstname %> <%= user.lastname %></h1>
    <% }) %>
</body>
</html>